section#calc {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

section#calc .count  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    background-color: lightgrey;
    padding: 0.4rem;
}
section#calc .count  span.big {
    font-size: 4rem;
}

section#calc .count input{
    width: 3rem;
    height: 2.2rem;
    border-color: black;
    border-radius: 0.2rem;
}

section#calc .count .variavel{
    margin-right: 1rem;
}

section#calc .count .minors{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#calc .count .minors span{
    font-size: 3rem;
}


.calcHolder {
    /* display: flex;
    justify-content: space-around;
    width: 85%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;
    align-items: baseline;
}

.lador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittleHolder {
    margin-bottom: 2rem;
}

.wireTittle {
    font-size: 3rem;
}

.centerGrid {
    display: flex;
    align-items: center;
}

.divider {
    width: 100%;
    height: 0.2rem;
    background-color: black;
}
.btnCalcular {
    width: 8rem;
    height: 3rem;
    background-color: black;
    color: aliceblue;
    border-radius: 0.6rem;
    border-color: #ffffff00;
    font-family: roboto, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 300ms;
}

.btnCalcular:hover {
    background-color: #3a6cf6;
}

#result {
    font-size: 4rem;
    font-weight: bold;
}

#resultBox{
    justify-content: center;
}

.hidden {
    opacity: 0;
    display: none;
}

.selected {
    background-color: #3a6cf6;
}
.selected h2 {
    color: aliceblue;
}

.selected:hover {
    background-color: #3a6cf6;
}